<!-- Floating Chat Button -->

<div class="chat-icon" (click)="toggleChat()">
  💬
</div>

<!-- Chat Window -->

<div class="chatbot-container" *ngIf="isOpen">

  <div class="chat-header">
    Hostel Assistant
  </div>

  <div class="chat-body">
    <div *ngFor="let msg of messages" 
     [ngClass]="msg.startsWith('You') ? 'user-msg' : 'bot-msg'">
  {{msg}}
</div>

  </div>

  <div class="chat-input">

    <input
      [(ngModel)]="userInput"
      placeholder="Ask about hostel..."
    />

    <button (click)="sendMessage()">Send</button>

  </div>

</div>
