<!-- Search -->
<div class="search-bar">
  <input type="text" placeholder="Search Module" />
</div>

<div class="dashboard">



  <!-- Cards -->
  <div class="cards">

    <div class="card" routerLink="/admins/leaves">
      <div class="icon"><i class="fas fa-edit"></i></div>
      <p>Leave</p>
    </div>




  <div class="card" routerLink="/admins/complaints">
    <div class="icon"><i class="fas fa-book"></i></div>
    <p>Complaints</p>
  </div>

  <div class="card" routerLink="/admins/notices">
    <div class="icon"><i class="fas fa-calculator"></i></div>
    <p>Notices</p>
  </div>

  <div class="card" routerLink="/admins/register">
    <div class="icon" ><i class="fas fa-file-alt"></i></div>
    <p>New student registration</p>
  </div>

  <div class="card">
    <div class="icon"><i class="fas fa-certificate"></i></div>
    <p>Certificates</p>
  </div>

  <div class="card">
    <div class="icon"><i class="fas fa-laptop"></i></div>
    <p>Examination</p>
  </div>

  <div class="card">
    <div class="icon"><i class="fas fa-comment-dots"></i></div>
    <p>Feedback</p>
  </div>

  <div class="card">
    <div class="icon"><i class="fas fa-award"></i></div>
    <p>NBA</p>
  </div>

  <div class="card">
    <div class="icon"><i class="fas fa-clipboard"></i></div>
    <p>Registration</p>
  </div>

  <div class="card">
    <div class="icon"><i class="fas fa-share-alt"></i></div>
    <p>Resource Sharing</p>
  </div>

  <div class="card">
    <div class="icon"><i class="fas fa-clock"></i></div>
    <p>TimeTable</p>
  </div>


  </div>

  <!-- Side Panel -->
  <div class="side-panel">
    <div class="panel-box">
      <h3>Vision</h3>
      <p>To achieve excellence in field of computer engineering.</p>
    </div>

    <div class="panel-box">
      <h3>Mission</h3>
      <p>To develop students with advanced tools.</p>
    </div>
  </div>

</div>