h2{
margin-bottom:20px;
}

table{
background:white;
border-radius:8px;
overflow:hidden;
}

th{
background:#1e293b;
color:white;
}

.breadcrumb {
  margin-bottom: 15px;
  font-size: 14px;
}

.breadcrumb span {
  cursor: pointer;
  color: #3498db;
}

.breadcrumb span:hover {
  text-decoration: underline;
}
.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 20px;
  color: #555;
}

.home {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.home:hover {
  color: #000;
}

.separator {
  margin: 0 8px;
  color: #999;
}

.current {
  color: #999;
}