.header{
    margin-top: 60px;
}

.notice-card{

background:white;
padding:20px;
margin-bottom:15px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);

}

.notice-card h3{
color:#2c3e50;
}

.notice-card small{
color:gray;
}