<div class="breadcrumb">
  <span class="home" routerLink="/student/student-dashboard">
    <i class="fas fa-home"></i> Home
  </span>
  <span class="separator">/</span>
  <span class="current">Notices</span>
</div>

<div class="header">
  <h2>📢 Hostel Notice Board</h2>
</div>

<div class="notice-card" *ngFor="let notice of notices">

  <p class="title">{{ notice.title }}</p>

  <!-- Date & Time -->
  <p class="date">
    🕒 {{ notice.date | date:'medium' }}
  </p>

  <!-- View File -->
  <a [href]="'http://localhost:5050/uploads/' + notice.fileUrl" target="_blank">
    View Notice
  </a>

  <!-- Image Preview -->
  <img *ngIf="notice.fileUrl?.endsWith('.jpg') || notice.fileUrl?.endsWith('.png')"
       [src]="'http://localhost:5050/uploads/' + notice.fileUrl">

</div>