<div class="layout">

  <div class="sidebar">

    <h3 class="logo">Hostel Admin</h3>

    <ul class="menu">
      <li routerLink="/admins/dashboard" routerLinkActive="active">Dashboard</li>
      <li routerLink="/admins/students"routerLinkActive="active">Students</li>
      <li routerLink="/admins/complaints"routerLinkActive="active">Complaints</li>
      <li routerLink="/admins/leaves" routerLinkActive="active">Leave Requests</li>
      <li routerLink="/admins/notices" routerLinkActive="active">Notices & Events</li>
    </ul>
 <div class="logout" routerLink="/login">
      Logout
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>