.breadcrumb {
  font-size: 14px;
  margin: 10px 0;
}

.breadcrumb .home {
  color: #007bff;
  font-weight: 500;
  cursor: pointer;
}

.breadcrumb .home:hover {
  text-decoration: underline;
}

.breadcrumb .separator {
  margin: 0 5px;
}

.breadcrumb .current {
  color: #555;
}